.footer {
    background: linear-gradient(90deg, #0373b5, #25835f);
    color: #fff;
    padding: 20px 0;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}
.footer .column {
    /* flex: 1 1 200px; */
    margin: 10px;
}
.footer .column h2 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #fbb03b;
}
.footer .column ul {
    list-style-type: none;
    padding: 0;
}
.footer .column ul li {
    margin-bottom: 10px;
}
.footer .column ul li a {
    color: #fff;
    text-decoration: none !important;
}
.footer .column ul li a:hover {
    text-decoration: underline;
}
.social-icons {
    display: flex;
    gap: 10px;
}
.social-icons a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.social-icons a:hover {
    color: #1da1f2;
}
.address {
    line-height: 1.6;
}
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footer .column {
        margin: 20px 0;
        text-align: center;
    }
}
