
.gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 1000px; /* can adjust overall width */
    text-align: center;
  }
  
 
  .gallery-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px; /* Space between text and gallery */
    color: #333;
  }
  
  /* Gallery Grid Container */
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 15px; /* Spacing between grid items */
    width: 100%; /* Full width of the gallery section */
    padding: 10px;
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  /* Individual Grid Item */
  .gallery-item {
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    width: 100%;
    aspect-ratio: 16/9; /* Maintain aspect ratio */
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Hover Effect */
  .gallery-item img:hover {
    transform: scale(1.1); 
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .gallery-container {
      grid-template-columns: repeat(2, 1fr); 
    }
    .gallery-section{
        max-width: 800px;
    }
  }
  
  @media (max-width: 480px) {
    .gallery-container {
      grid-template-columns: 1fr; 
    }
    .gallery-section{
        max-width: 600px;
    }
  }
  